<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Past Rainy API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script defer src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script defer src="/js/app/main.js"></script>
</head>
<body>
    <header>
        <h1>Past Rainy API</h1>
    </header>
    <nav>
        <a href="#" class="btn btn-secondary" role="button" id="btn-search">Search</a>
        <a href="#" class="btn btn-success active" role="button" id="btn-excel">Excel</a>
    </nav>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>조회일</th>
            <th>시:분</th>
            <th>강수유무</th>
            <th>강수15</th>
            <th>강수60</th>
            <th>강수6H</th>
            <th>강수12H</th>
            <th>일강수</th>
            <th>기온</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <!--<tr>
            <td name="searchDay">2000-07-23</td>
            <td name="rainHm">23:50</td>
            <td name="rainHm">Y</td>
            <td>111</td>
            <td>121</td>
            <td>11</td>
            <td>121</td>
            <td>13</td>
            <td>26.7</td>
        </tr>-->
        </tbody>
    </table>
</body>
</html>