<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Past Rainy API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://kit.fontawesome.com/60bc178313.js" crossorigin="anonymous"></script>
    <script defer src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script defer src="/js/main.js"></script>
</head>

<body>
<header>
    <div class="header_logo">
        <i class="fas fa-cloud-sun-rain"></i>
        <a href="/">Past Rainy API</a>
    </div>
</header>
<nav>
    <ul>
        <li>
            <input type="text" class="" id="city" placeholder="도시코드" title="예)273" maxlength="3" />
        </li>
        <li>
            <input type="text" class="" id="searchStDay" placeholder="기준날짜" title="예)202007250000" maxlength="14" />
        </li>
        <li>
            <input type="text" class="" id="searchEdDay" placeholder="과거날짜" title="예)202006250000" maxlength="14" />
        </li>
        <li>
            <a href="#" class="btn btn-secondary" role="button" id="btn-search">Search</a>
        </li>
        <li>
            <a href="#" class="btn btn-success active" role="button" id="btn-excel">ExcelDownload</a>
        </li>
    </ul>
</nav>
<section>
    <h3 id="subTitle">SubTitle</h3>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>조회일</th>
            <th>시:분</th>
            <th>강수유무</th>
            <th>강수15</th>
            <th>강수60</th>
            <th>강수6H</th>
            <th>강수12H</th>
            <th>일강수</th>
            <th>기온</th>
        </tr>
        </thead>
        <tbody id="tbody">
         <tr>
            <td colspan="9" style="text-align: center;">데이터가 존재하지 않습니다.</td>
        </tr>
        </tbody>
    </table>
</section>
<footer>
    <span>Rino Mari <em>|</em> Done is Better Than Perfect <em>|</em> </span><span class="">Copyright ⓒ 2020 JUNE Co., Ltd. All Rights Reserved.</span>
</footer>
<!-- gnb dimmed 영역 -->
<div class="m_bg"></div>
<div class="loadingImg">
    <img src="/image/Spinner.gif"/>
</div>
</body>
</html>